Source: lingmo-kwin-effects
Section: utils
Priority: optional
Maintainer: Lingmo OS Team <team@lingmo.org>
Build-Depends:
    cmake (>= 3.20),
    debhelper-compat (= 13),
    extra-cmake-modules,
    libepoxy-dev,
    libkf6configwidgets-dev,
    libkf6kcmutils-dev,
    libkwin-dev,
    libxcb1-dev,
    qt6-base-dev (>= 6.5),
Standards-Version: 4.6.2
Homepage: https://github.com/Matrinsoft/lingmo-kwin-effects
Rules-Requires-Root: no

Package: lingmo-kwin-effects
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: lingmo-kwin-effects
 Lingmo Desktop lingmo-kwin-effects.
